<main class="container justify-content-start">
  <% @users.each do |user| %>
    <div class="row" >
      <%= render partial: "user_card", object: user , as: "user" %>
    </div>
  <% end %>
</main>


