<%= render partial: "user_card", object: @user , as: "user" %>
<h3>Bio:</h3>
<p><%= @user.bio %></p>
<% @user.recent_posts.each do |post| %>
    <%= render partial: "posts/post_card", object: post, as: "post" %>
<% end %>
<a href="/users<%= user.id %>/posts"></a>
